<head>
	<title>spf-rb-test</title>
</head>

<body>
	{{> main}}
</body>

<template name="main">
	<div class="container">
		<h1>rb-test</h1>
		<h4>Solution by Simon Fry</h4>
		{{> inputs}}
		{{> results}}
	</div>
</template>

<template name="inputs">
	<div class="col-md-6">
		{{> gridInput}}
	</div>
	<div class="col-md-6">
		{{> robotInput}}
	</div>
</template>

<template name="gridInput">
	<div class="form-group">
		<label for="inputGrid">Set up grid system</label>
		<input type="text" class="form-control" id="inputGrid" placeholder="E.g. 4 5">
	</div>
	<button type="submit" class="btn btn-default" id="submitNewGrid">Submit</button>
</template>

<template name="robotInput">
	<div class="form-group">
		<label for="inputRobotStartingConditions">Robot starting conditions</label>
		<input type="text" class="form-control" id="inputRobotStartingConditions" placeholder="E.g. 1 1 E">
	</div>
	<div class="form-group">
		<label for="inputRobotInstructions">Robot instructions</label>
		<input type="text" class="form-control" id="inputRobotInstructions" placeholder="E.g. FFFRRRFFFRRR">
	</div>
	<button type="submit" class="btn btn-default" id="submitNewRobot">Add Robot</button>
</template>

<template name="results">
	<div class="col-md-6">
		{{> displayInputs}}
	</div>
	<div class="col-md-6">
		{{> displayOutputs}}
	</div>
</template>

<template name="displayInputs">
	<h2>Inputs</h2>
	<div class="grid">
		<h4>Grid</h4>
		<p>Top right coordinate: ({{gridMaxX}}, {{gridMaxY}}).
	<div>
	<div class="robots">
		<h4>Robots</h4>
		{{#each robots}}
			{{> displayRobotInput}}
		{{/each}}
	</div>
	<div class="scents">
		<h4>Scents</h4>
		{{#each scents}}
			{{> displayScents}}
		{{/each}}
	</div>
</template>

<template name="displayRobotInput">
	<p>{{startX}} {{startY}} {{startDirection}} {{instructions}}</p>
</template>

<template name="displayOutputs">
	<h2>Outputs</h2>
	{{#each robots}}
		{{> displayRobotOutput}}
	{{/each}}
</template>

<template name="displayRobotOutput">
	<p>{{x}} {{y}} {{direction}} {{whetherLost}}</p>
</template>

<template name="displayScents">
	<p>{{x}} {{y}} {{direction}}</p>
</template>